@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: Jakarta;
  src: url("../src/assets/fonts/PlusJakartaSans-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --breakpoint-sm: 768px;
  --breakpoint-md: 1280px;
  --breakpoint-lg: 1920px;

  --animate-zoomIn: zoomIn 0.8s ease-out;
  --animate-slideInLeft: slideInLeft 0.8s ease-out backwards;

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-150px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

body {
  font-family: "Jakarta", sans-serif;
}

:root {
  /* Khoảng cách */
  --spacing-inline: 3rem;
  --spacing-block: 1rem;

  /* Kích thước */
  --full: 100%;
  --max-width: 1480px;
}

@layer components {
  html,
  body {
    scroll-behavior: smooth;
  }
  .container {
    width: var(--full);
    max-width: var(--max-width);
    padding-inline: var(--spacing-inline);
    padding-block: var(--spacing-block);
    margin-inline: auto;
  }

  .image {
    max-width: var(--full);
    display: block;
    object-fit: cover;
  }
}
